* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
    background-color: rgb(205, 183, 162);
    color: rgb(255, 255, 255);
    padding: 2rem;
    line-height: 1.6;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2rem;
    border-bottom: 1px solid rgb(255, 255, 255); /* Linha branca para destacar */
}

header div {
    flex: 1;
}

button,
a.button {
    display: inline-block;
    padding: 1rem 2rem;
    background-color: rgb(255, 255, 255);
    color: rgb(163, 168, 101);
    font-size: 1rem;
    text-align: center;
    border-radius: 0.3rem;
    text-decoration: none;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s;
    border: 2px solid rgb(0, 0, 0); /* Borda preta */
}

button:hover,
a.button:hover {
    background-color: rgb(205, 183, 162);
}

main {
    max-width: 50rem;
    margin: 0 auto;
    background-color: rgb(163, 168, 101);
    padding: 2rem;
    border-radius: 0.5rem;
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.1);
    border: 2px solid rgb(0, 0, 0); /* Borda preta */
}

section {
    margin-bottom: 2rem;
}

h1 {
    font-size: 2.5rem;
    margin-bottom: 1.5rem;
    text-align: center;
    color: rgb(255, 255, 255);
}

h2 {
    font-size: 1.8rem;
    margin-bottom: 1rem;
    color: rgb(255, 255, 255);
}

a {
    display: block;
    margin-top: 2rem;
    color: rgb(255, 255, 255);
    text-align: center;
    text-decoration: underline;
}
