* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
    background-color: rgb(205, 183, 162);
    color: rgb(255, 255, 255);
    padding: 2rem;
    line-height: 1.6;
}

main {
    max-width: 40rem;
    margin: 0 auto;
    background-color: rgb(163, 168, 101);
    padding: 2rem;
    border-radius: 0.5rem;
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.1);
    border: 2px solid rgb(0, 0, 0); /* Borda preta */
}

h1 {
    font-size: 2rem;
    margin-bottom: 1.5rem;
    color: rgb(255, 255, 255);
    text-align: center;
}

form {
    margin-bottom: 2rem;
}

label {
    display: block;
    margin-bottom: 0.5rem;
    color: rgb(255, 255, 255);
}

input[type="text"],
input[type="password"] {
    width: 100%;
    padding: 0.6rem;
    border: none;
    border-radius: 0.3rem;
    margin-bottom: 1rem;
    border: 2px solid rgb(0, 0, 0); /* Borda preta */
}

input[type="submit"] {
    background-color: rgb(255, 255, 255);
    color: rgb(163, 168, 101);
    border: none;
    padding: 0.6rem 1.2rem;
    font-size: 1rem;
    border-radius: 0.3rem;
    cursor: pointer;
    transition: background-color 0.3s;
    border: 2px solid rgb(0, 0, 0); /* Borda preta */
}

input[type="submit"]:hover {
    background-color: rgb(205, 183, 162);
}

p {
    text-align: center;
    color: rgb(255, 255, 255);
}

a {
    color: rgb(255, 255, 255);
    text-decoration: underline;
    font-weight: bold;
}
